* {
    font-family: 'Roboto-Mono', serif  ;
    color: rgb(8, 8, 8);
}

body {
    margin: 0;
    background-color: #da840d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color:  #454e58;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000030;
}

.columnauno{
    font-size: 50px;
    border-radius: 50px;    
    right: 120px;
    top: 100px ;

}
.columnados{
    font-size: 50px;
    border-radius: 50px;    
    right: 50px;
    bottom: 335px;
    
}

.columnatres{
    font-size: 50px;
    border-radius: 50px;    
    left: 20px;
    bottom: 770px;
}

.columnacuatro{
    font-size: 50px;
    border-radius: 50px;    
    left: 70px;
    bottom: 1200px;
}

.panel{
    font-size: 20px;
    position: relative;
    right: 50;
    top: 25px;
}




button {
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
    font-size: 25px;
    border: none;
    background-color:#454e58 ;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px -3px #1f2328;
    position: relative;
    right: 10px;
}

button:active {
    background-color: #1f2328;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}


#valor-actual {
    font-size: 25px;
    color: #1f2328;
}

#valor-anterior{
    font-size: 32px;
    color: #1f2328;
}

