/* estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contendor{
    padding: 50px;
    width: 80%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;

}

/*header*/

header{
    width: 100%;
    height: 500px;
    background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(207, 87%, 67%, 0.605), hsla(89, 58%, 75%, 0.614)), url(../img/recluta.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
nav{
    text-align: right;
    padding: 40px 60px 0 0;
}
nav > a{
    color: #000000;
    font-weight: 200;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 60px;
    color: #000000;
}

.textos-header h2{
    font-size: 50px;
    font-weight: 350;
    color: #000000;
}

/*About us*/
.contenedor-sobre-nosotros{
    /*si no les gusta los bordes solo quita el margin y el box-shadow de aqui*/
    margin: 10px;
    box-shadow: 0 0 5px 0 #cd5c5c;
    display: flex;
    justify-content: space-evenly;
    
}

.imagen-about-us{
    width: 45%;
    padding: 0px 15px 30px 15px;
}

.imagen-about-cv{
    height: 180px;
    width: 180px;
    position: absolute;
    right: 85px;
    /* padding: 0px 15px 30px 15px; */
}

.imagen-cv {
    height: 180px;
    width: 180px;
    position: absolute;
    right: 85px;
}


.sobre-nosotros .contenido-texts{
    width: 40%;
    padding: 0px 15px 30px 15px;
   

}
.contenido-texts p{
    font-weight: 3000;
    text-align: justify;
}




/*Fotos*/

.talentos{
    background: #f5f6f7;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 25%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #cd5c5c;
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: ruby-base;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(173, 68%, 82%, 0.648);
    transition: transform .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*footer*/

footer{
    background: #909497;
    padding: 30px 0 5px 0;
    margin: 20px;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #7bebf3;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #000000;
    border-bottom: 3px solid #0de8f6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #eaeded;
}

.titulo-final{
    text-align: center;
    font-size: 40px;
    margin: 30px 0 0 0;
    color: #eaeded;
}